<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VERA: Voice Emotion Recognition of Audio</title>
</head>
<body>

  <h1>VERA: Voice Emotion Recognition of Audio</h1>
  
  <button id="record">Start Recording</button>
  <button id="stop" disabled>Stop Recording</button>
  
  <h2>Playback:</h2>
  <audio id="audioPlayback" controls></audio>
  
  <h2>Random Prompt:</h2>
  <div id="randomPrompt">No prompt selected.</div>
  <button id="selectPrompt">Get Random Prompt</button>

  <h2>Random Emotion:</h2>
  <div id="randomEmotion">No emotion selected.</div>
  <button id="selectEmotion">Get Random Emotion</button>

  <h2>Classification Result:</h2>
  <!-- Section to display the classification result -->
  <div id="classificationResult">No result yet.</div>

  <!-- Link to the external JavaScript file -->
  <script src="../static/script.js"></script>

</body>
</html>
