<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VERA: Voice Emotion Recognition of Audio</title>
</head>
<body>

  <h1>VERA: Voice Emotion Recognition of Audio</h1>
  
  <button id="record">Start Recording</button>
  <button id="stop" disabled>Stop Recording</button>
  
  <h2>Playback:</h2>
  <audio id="audioPlayback" controls></audio>

  <!-- Link to the external JavaScript file -->
  <script src="..\static\script.js"></script>
  
</body>
</html>
